<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/websockets/styles/index.css">
    <script type="text/javascript" src="/websockets/scripts/agent.js"></script>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <h1 class="text-center mt-2">Agent Portal</h1>
    <h4 >Welcome <%=username%>!</h4>

    <div class="row mt-3">
        <div class="col-sm-2 border-right">
            <% if (visitors) { %>
                <% for (var i = 0; i < visitors.length; i++) { %>
                    <button class="dropdown-item visitorname <%=visitors[i].acc_id%> " onclick="showVisitorChat(this.name)" name="<%=visitors[i].acc_id%>" type="button"><%=visitors[i].username%></button><hr>
                <% } %>  
            <% } %>

        </div>
        <div class="col-sm-10">

            <div  class="main-container p-5 visitorchat">
            </div>
        </div>
    </div>
</body>

<footer class="container">
  <%- include('../partials/footer'); %>
</footer>

</html>